packages: [
  "atom-ide-ui"
  "brogrammer-syntax"
  "brogrammer-ui"
  "busy-signal"
  "color-picker"
  "fonts"
  "ide-python"
  "intentions"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "seti-syntax"
  "seti-ui"
]
